.Navbar {
    margin: 2rem 3rem; 
  }
  .background-img{
    width: 100%;
    /*overflow: hidden;*/
    position: relative;
  }
  .Navbar .logo {
    color: #ffffffff;
    font-size: 2.5rem;
    position: absolute;
    top: 3px;
    left: 5px;
    padding: 10px;
    
  }
  p{
    color: #ffffffff;
    font-size: 2.5rem;
    position: absolute;
  }